* {
    color: white;
    text-align: center;
}

header {
    text-transform: uppercase;
}

div img {
    width: 40%;
    height: 13em;
    margin: 0.5em;

    border: 1px solid dodgerblue;
    box-shadow: 10px 10px 15px black;
}

footer {
    margin: 4rem auto;
    text-align: center;
    display: inline-block;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;
    
    border: 1px solid rgb(26, 162, 167);

    padding: 1rem 2rem;
}

footer:hover {
    scale: 1.2;
    transition: .4s;
}