@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    /* background-image: url(../images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-028.jpg); */
    background-image: url(../images/montains.jpg);
    background-position: cover;
    background-repeat: no-repeat;
}