@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    /* background-image: url(../images/50-Beautiful-and-Minimalist-Presentation-Backgrounds-028.jpg); */
    background-image: url(../images/montains.jpg);
    background-position: cover;
    background-repeat: no-repeat;

    width: 940px;
    margin: 0 auto;
}

header {
    margin: 3rem 0 2rem;
}

a {
    cursor: pointer;
}

a:hover {
    scale: 1.2;
    transition: .4s;
    color: dodgerblue;
}