* {
    color: white;
    text-align: center;
}

header {
    text-transform: uppercase;
}

main {
    margin: 3em;
}

footer {
    margin: 4rem auto;
    text-align: center;
    display: inline-block;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;
    
    border: 1px solid rgb(26, 162, 167);

    padding: 1rem 2rem;
}

footer:hover {
    scale: 1.2;
    transition: .4s;
}